<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
   
    <title>Document</title>
</head>


{% block login %} {% endblock %}
{% block logout %} {% endblock %}

{% block add_user %} {% endblock %}
{% block add_course %} {% endblock %}

{% block edit_user %} {% endblock %}
{% block edit_course %} {% endblock %}

{% block del_user %} {% endblock %}
{% block del_course %} {% endblock %}



